.category {
    background-color: #34c5ff;
    width: 16%;
    height: 160px;
    font-size: 28px;
    color: #fff;
    box-sizing: border-box;
    border: 5px solid white;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.category:hover {
    background: #fff;
    color: #34c5ff;
    border: 5px solid #34c5ff;
}